<%= form_with(model: @product, local: true, class: "flex items-center justify-center h-screen") do |form| %>
  <!-- Your existing code -->

  <div class="w-full max-w-md p-6 bg-white rounded-md shadow-md">
    <% if @product.errors.any? %>
      <div id="error_explanation" class="mb-6">
        <h2 class="text-red-600"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li class="text-red-600"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4 flex">
      <div class="w-1/2 pr-4">
        <%= form.label :Nome, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.text_field :name, class: 'form-input w-full' %>
      </div>

      <div class="w-1/2">
        <%= form.label :Descrição, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.text_field :description, class: 'form-input w-full' %>
      </div>
    </div>

    <div class="mb-4 flex">
      <div class="w-1/2 pr-4">
        <%= form.label :preço, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.text_field :price, class: 'form-input' %>
      </div>

      <div class="w-1/2">
        <%= form.label :Codigo_do_Cupom, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.collection_select :cupomId, Cupom.all, :id, :nome, { prompt: "Selecione cupom" }, { class: 'form-input w-full' } %>
      </div>
    </div>

    <div class="mb-4">
      <%= form.label :Categoria, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Selecione a categoria" }, { class: "form-control" } %>
    </div>

    <div class="mb-4">
      <%= form.label :Quantidade, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.select(:quantity, (0..50).to_a, { include_blank: true }, class: 'form-select') %>
    </div>

    <div class="mb-4">
      <%= form.label :Imagem, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_field :image, class: "form-input w-full" %>
    </div>

    <div class="mt-6">
      <%= form.submit('criar/editar', class: 'bg-minhaCor text-white p-2 rounded-md') %>
    </div>

  </div>
<% end %>
