<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    
    <h1 class="titulo-produtos">Produtos em estoque</h1>



    <section class="content flex justify-center">
    <table class="table table-striped">
        <thead>
            <th>Produto</th>
            <th>Indicação</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Quantidade</th>
        </thead>
        <tbody>
            <% @products.each do |product| %>
            <tr>
                <td data-th="Produto"><%= link_to product.name, product %></td>
                <td data-th="Indicação"><%=  product.description %></td>
                <td data-th="Preço"><%=  product.price %></td>
                <td data-th="Categoria"><%=  product.category[:name]%></td>
                <td data-th="Quantidade"><%=  product.quantity%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </section>

    <button class="button-produtos"><%= link_to "Adicionar Produto", new_product_path %></button>
</body>
</html>