<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">×</a>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Contact</a>
</div>

<div class="container">
    <button class="open-btn" onclick="openNav()">☰ Open Sidebar</button>
</div>

<script>
function openNav() {
  document.getElementById("mySidebar").style.left = "0";
  document.querySelector('.container').style.marginLeft = '250px';
}

function closeNav() {
  document.getElementById("mySidebar").style.left = "-250px";
  document.querySelector('.container').style.marginLeft= '0';
}
</script>
    <section class="content flex justify-center">
    <table class="table table-striped">
        <thead>
            <th>Produto</th>
            <th>Indicação</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Quantidade</th>
        </thead>
        <tbody>
            <% @products.each do |product| %>
            <tr>
                <td data-th="Produto"><%= link_to product.name, product %></td>
                <td data-th="Indicação"><%=  product.description %></td>
                <td data-th="Preço"><%=  product.price %></td>
                <td data-th="Categoria"><%=  product.category%></td>
                <td data-th="Quantidade"><%=  product.quantity%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </section>
</body>
</html>