<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-md p-6 bg-white rounded-md shadow-md">
    
    <%= image_tag  @product.image %>
    <h1 class="text-2xl font-bold mb-4"><%= @product.name %></h1>
    <p class="mb-2"><strong>Descrição:</strong> <%= @product.description %></p>
    <p class="mb-2"><strong>Preço R$:</strong> <%= @product.price %></p>
    <strong>Quantidade:</strong> <%= @product.quantity %>
    <p><strong>Categoria:</strong><%= @product.categoria.nome %>
</p>

    <div class="flex justify-between mt-4">
      <%= link_to 'Voltar',  inicio_path , class: 'text-gray-500 hover:underline' %>
    </div>
  </div>
</div>
