<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-md p-6 bg-white rounded-md shadow-md">
    <!-- Adiciona a imagem aqui -->
    <img src="<%= @product.image_url %>" alt="<%= @product.name %> Image" class="mb-4 rounded-md">

    <h1 class="text-2xl font-bold mb-4"><%= @product.name %></h1>

    <p class="mb-2"><strong>Description:</strong> <%= @product.description %></p>
    <p class="mb-2"><strong>Price:</strong> <%= @product.price %></p>
    <p class="mb-2"><strong>Category:</strong> <%= @product.category %></p>
    <p class="mb-2"><strong>Quantidade:</strong> <%= @product.quantity %></p>

    <div class="flex justify-between mt-4">
      <%= link_to 'Editar', edit_product_path(@product), class: 'text-blue-500 hover:underline' %>
      <%= link_to 'Voltar', products_path, class: 'text-gray-500 hover:underline' %>
    </div>
  </div>
</div>
