<div class="card">
    <section class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg object-fit-cover" <%= image_tag @product.image %>
        <div class="card-content px-6 py-4">
            <h2><%= @product.name %></h2>
            <br>
            <p> <%= @product.description %></p>
            <br>
            <p>R$<%= @product.price %></p>
            <p>Categoria: <%= @product.category[:name] %></p>
            <p>Cupom de desconto: <%= @product.cupom_id %></p>
        </div>
    </section>
</div>

</body>
</html>
